body{background:#363636;font-family:"Verdana","Arial","Trebuchet MS","Georgia","Tahoma"; color:#FFFFFF;}
h1,h2 {color:#9FC2F8;}
p{font-size: 20pt}
p{color:#8EE5EE;}
h1{font-size: 40pt}
a{color:#008B00;}
